.collection-preview {
  display: flex; // do we need this line?
  flex-direction: column; // do we need line?
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
